:root {
  --main-color: #008dda;
  --secondary-color: #41c9e2;
  --secondary-color-light: #77e0f3;
  --third-color: #ace2e1;
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #868e96;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #191c1f;
  --black: #000;
  --error: hsl(0, 83%, 61%);
  --error-hover: hsl(0, 100%, 74%);
}

body {
  background-color: var(--gray-100);
  color: var(--black);
}

section {
  padding: 6em 0;
}

@media (max-width: 600px) {
  section {
    padding: 2em 0;
  }
}
